# This is live account api credentials with read permissions (you can't place order or change the ballance).
# Feel free to use this keys for testing the API.
# https://www.binance.com/ru/usercenter/settings/api-management

# IMPORTANT !!
# Don't forget to add new ENV variables to the repo secrets and to the .github/workflows/deploy.yml

APIKEY=APIKEY
APISECRET=APISECRET
TELEGRAM_API_URL=
DB_URL=
